img{
	border-radius:50%;
}
body {
  background-color: #EED5D2;
  font-family: 'Lora', serif; /* OPTIONAL: Google Fonts - base font */
  font-weight: 300;
  font-size: 16px;
  color: #698B69;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif; 
  font-weight: 300;
  color: #333;
}

/* Paragraph */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
  color: #698B69;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
.header {
  background: #FF851B;
  background: url(../images/header-bg.jpg) no-repeat center top;
  padding-top:140px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 80px;
  color: #556B2F;
  background: rgba(0,0,0,0.2);
}

.header h3 {
  font-size: 20px;
  color: #6E7B8B;
}

.header h3 a {
  color: #6E7B8B;
}

/* About Wrap */
.about {
  background: #85144B;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
} 

.about h5, p {
  color: white;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

.footer {
  background: #CDB7B5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  color: #556B2F;
}

/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #85144B;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #616669;
}


sm {
  font-size: 12px;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

.container .row p.tight {
  margin-bottom: 10px;
}
